PelosiUI/node_modules
PelosiBE/venv
.DS_Store
PelosiBE/db/congresstrades_grouped.json
PelosiUI/.expo/README.md
PelosiUI/.expo/devices.json
PelosiUI/app.json
PelosiUI/eas.json
PelosiBE/db
PelosiDB/venv
PelosiBE/db/congresspeople.json
PelosiBE/db/tickers.json
PelosiBE/.env
PelosiDB/.env
PelosiUI/ios
PelosiUI/android
PelosiDB/scraper.txt
appstore/sim1.png
appstore/sim2.png
appstore/sim3.png
appstore/sim4.png
PelosiBE/pelosibe.tar
