.env
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
pip-wheel-metadata/
build/
dist/
.eggs/
*.egg-info/
.cache/
.pytest_cache/
.mypy_cache/
.DS_Store
.git/
.gitignore
db/
PelosiUI/
PelosiDB/
.vscode/
.venv/
*.tar
pelosi-be.tar